body {
  font-family: sans-serif;
}

canvas {
  max-width: 100%;
  width: 320px;
}

video {
  max-width: 100%;
  width: 320px;
}

#dataChannelSend {
  width: 300px;
  height: 100px;
}

#dataChannelReceive {
  width: 300px;
  height: 100px;
}
